button {
  height: 300px;
  width: 500px;
  background-color: #00BFFF;
  font-size:larger;
}

body {
  background-color: #CCEEFF;
}

#logo {
  width: 200px;
  height: 200px;
}

#classification_board{
    background: #CE0909;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width:100%;
}
