
button {
  height: 100px;
  width: 400px;
  background-color: rgba(0, 0, 0, 0);
  font-size: larger;
  background-color: none;
  color: whitesmoke;
  border: none;
}


* {
  font-family: 'Permanent Marker', cursive;
  margin: 0;
  padding: 0;
}

@font-face {
    font-family: myFirstFont;
    src: url(Athens.ttf);
}
/*      BODY     */

body {
  position: relative;
  width: 100%;
  height: 100vh;
}

/* FIRST PAGE--- JEKQUIZ*/

#firstpage {
  background-image: url("../Images/background1.png");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.container1 {
  color: #7CCCED;
  display: flex;
  font-size: 5.5em;
  justify-content: center;
  padding-top: 156px;
  font-family: myFirstFont;
}

.container1 h1{
    font-family: myFirstFont;
}
.container2 {
  width: 50%;
  color: whitesmoke;
  display: flex;
  flex-direction: row;
  font-size: 2.1em;
  justify-content: center;
  padding-top: 106px;
  margin-left: 290px;
  transform: rotate(-7deg);
}

.simbolo_img {
  padding: 136px 24px 0px 24px;
}

@media (max-width: 800px) {
  #firstpage {
    height: 100%;
    width: 100%;
  }
  .simbolo_img {
    padding-top: 16px;
  }
  .container1 {
    font-size: 3em;
  }
  .container2 {
    font-size: 1.5em;  padding-top: 56px;
    margin-left: 190px;
  }
}

/* SECOND PAGE--- CHOOSE A TEAM*/

#team {
  background: #7CCCED;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.container1team {
  align-items: center;
  color: black;
  display: flex;
  justify-content: center;
  padding-top: 50px;
  width: 100%;
}

.teams {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 106px;
}
#botaoteam{
  height: 100px;
  width: 230px;
}
.teamscolor {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 76px;
}
.teamscolor img{
  padding-left: 45px;
  padding-right: 45px;
}
.teamsnumber {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 16px;
  font-size: 2.5em;
}
 .teamsnumber p {
   padding-left: 50px;
   padding-right: 50px;
 }
.container1team h1 {
  font-size: 3.0em;
}

.container2team {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding-top: 88px;
}

.container2team h3 {
  font-size: 1.3em;
}

#startGame {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  font-family: 'Lato', sans-serif;
  height: 0px;
  width: 0px;
  padding-left: 1150px;
  padding-top: 80px;
}

@media (max-width: 800px) {
  .container1team {
    width: 100%;
  }
  .container1team h1 {
    font-size: 1.8em;
    padding-top: 36px;
    padding-left: 10px;
  }
  #team {
    height: 100%;
    width: 100%;
  }
  .teams img {
    width: 90px;
    height: 90px;
  }
  .teamscolor{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 36px;
  }
  .teamscolor img{
    height: 30px;
    width: 100px;
    padding-left: 37px;
    padding-right: 37px;
  }
  .teams {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 48px;
    padding-right: 48px;
    padding-top: 36px;
  }
  .teamsnumber {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 1px;
  }
  .teamsnumber p{
   padding-left: 50px;
   padding-right: 50px;
   padding-top: 10px;
   font-size: 0.5em;
    }
  .container2team {
    padding-top: 38px;
    padding-left: 10px;
    padding-bottom: 40px;
  }
  .container2team h3 {
    font-size: 1.1em;
  }
  #startGame {
    padding-left: 110px
  }
}

/*THIRD PAGE---- LETS START*/

#lets_start {
  background: #56D6C9;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.containerlets_strat {
  display: flex;
  font-size: 3.0em;
  justify-content: center;
  padding-top: 54px;
  text-align: center;
}

#countdown2 {
  font-size: 2.0em;
  margin-right: 30px;
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  font-family: 'Inconsolata', monospace;
}

.teamsselected {
  display: flex;
  justify-content: space-around;
  padding-top: 190px;
}

@media (max-width: 800px) {
  #lets_start {
    height: 100%;
    width: 100%;
  }
  .containerlets_strat {
    font-size: 2em;
    padding-left: 20px;
  }
  #countdown2 {
    font-size: 1.3em;
    margin-right: 20px;
  }
  .teamsselected img {
    height: 120px;
    width: 120px;
  }
  .teamsselected {
    padding-top: 152px;
    padding-bottom: 10px;
  }
}

/*FOURTH PAGE---- QUESTION*/

#questions {
  background: #F79839;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.containerquestion {
  display: flex;
  font-size: 1.8em;
  justify-content: flex-start;
  padding-top: 24px;
  padding-left: 48px;
}

.answer p {
  font-size: 1.8em;
  font-family: 'Lato', sans-serif;
  padding-top: 5px;
  padding-bottom: 5px;
}

.answer {
  height: 32%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 56px;
  padding-left: 48px;
}


.clock {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-top: 50px;
  padding-right: 50px;
}
.clock h1 {
  font-family: 'Inconsolata', monospace;
  font-size: 2em;
  border: 3px solid black;
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 25px;
  padding-right: 25px;
}

#answer1 {
  background: #0E94AA;
  color: black;
  margin-bottom: 10px;
  width: 900px;
  padding-right: 500px;
  text-align: center;
}


#answer2 {
  background: #DB9405;
  color: black;
  margin-bottom: 10px;
  width: 900px;
    padding-right: 500px;
      text-align: center;
}

#answer3 {
  background: #71C114;
  color: black;
  margin-bottom: 10px;
  width: 900px;
    padding-right: 500px;
  text-align: center;
}

#answer4 {
  background: #F4D30F;
  color: black;
  margin-bottom: 10px;
  width: 900px;
    padding-right: 500px;
  text-align: center;
}

.who_answered {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 68px;

}

.who_answered img {
  padding-left: 10px;
  padding-right: 10px;
}

@media (max-width: 800px) {
  #questions {
    height: 100%;
    width: 100%;
  }
  .who_answered {
    padding-top: 48px;
    padding-left: 5px;
    padding-bottom: 10px;
  }
  .who_answered img {
    height: 100px;
    width: 100px;
  }
  .containerquestion {
    font-size: 1em;
    padding-top: 24px;
    padding-left: 25px;
  }

  .answer p {
    font-size: 1em;
  }
  .clock {
    padding-top: 30px;
  }
  .clock h1 {
    font-size: 1.5em;
  }
  #answer1 {
   width: 600px;
     padding-right: 200px;
  }
  #answer2 {
   width: 600px;
        padding-right: 200px;
  }
  #answer3 {
   width: 600px;
        padding-right: 200px;
  }
  #answer4 {
   width: 600px;
        padding-right: 200px;
  }
}

/* FIFTH PAGE ----- RESULTS */

#results {
  background: #F4BD37;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.container_results {
  display: flex;
  font-size: 3.5em;
  justify-content: flex-start;
  padding-top: 54px;
  padding-left: 148px;
}

.ranking {
  font-size: 3.5em;
  color: whitesmoke;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 110px;
}

.participants_place {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 30px;
}

.points {
  font-size: 1.5em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 30px;
}

#continue {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  font-family: 'Lato', sans-serif;
  height: 10px;
  width: 10px;
  padding-left: 1200px;
  padding-top: 60px;
}

@media (max-width: 800px) {
  #results {
    height: 100%;
    width: 100%;
  }
  .container_results {
    font-size: 2em;
    padding-left: 38px;
  }
  .points {
    font-size: 1.0em;
  }
  .ranking {
    font-size: 2.0em;
    padding-top: 80px;
  }
  .participants_place {
    padding-top: 20px;
  }
  .participants_place img {
    height: 70px;
    width: 80px;
  }
  #continue {
    padding-top: 130px;
    padding-left: 130px;
  }
}

/* SIX PAGE----- SUSPENSE */

#endScreen {
  background: #E58442;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.container_suspense {
  font-size: 1.5em;
  align-items: center;
  color: black;
  display: flex;
  height: 100%;
  justify-content: center;
  padding-top: 0px;
}

/* SEVEN PAGE ---- WINNER */

#winnerScreen {
  background: #E58442;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.teamwinner {
  font-size: 5.5em;
  color: black;
  padding-left: 50px;
  padding-top: 100px;
}

.guy_drinking {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  padding-top: 68px;
  position: absolute;
  width: 100%;
}

#finalscore{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  height: 50%;
  font-family: 'Lato', sans-serif;
  padding-left: 50px;
}

@media (max-width: 800px) {
  #the_winner {
    height: 100%;
    width: 100%;
  }
  .teamwinner {
    font-size: 3.5em;
    padding-top: 50px;
    padding-left: 50px;
  }
  .guy_drinking {
    height: 40%;
    padding-top: 170px;
  }
  .guy_drinking img {
    height: 300px;
    width: 300px;
  }
}

#classification_board {
  background: #E67E22;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.container_board {
  font-size: 3em;
  padding-left: 20px;
}

.container_table {
  padding-top: 100px;
  padding-left: 60px;
}

table {
  font-size: 1.05em;
  border: 1px solid black;
  border-collapse: collapse;
}

th {
  font-family: 'Lato', sans-serif;
  border: 1px solid black;
  border-collapse: collapse;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
}

/*     INVISIBLE CLASS     */

.invisible {
  display: none !important;
}

#classification_board{
    background: #CE0909;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width:100%;
}
